
<%= h @rumor.title %> 
<% unless @rumor.author.blank? %>by [<%= @rumor.author %>]<% end %>

<ul>
  <% @rumor.comments.each do |comment| %>
  <li><%= h comment.content %></li>
  <% end %>
</ul>

<%= link_to 'Back', url(:rumors) %>
